@import 'scss/colors.scss';
@import 'scss/fonts.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

.events-viewer {
  background-color: #f0f0f0;
  min-height: 10rem;

  &--nav {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }

    button {
      font-family: $font-family-monospace;
      font-weight: bold;
      background:none;
      color:inherit;
      border:none;
      cursor: pointer;
      opacity: .5;
      &.active {
        opacity: 1;
      }

      svg {
        color: $red;
      }
    }
  }
}