@import 'scss/colors.scss';
@import 'scss/fonts.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/buttons';

.events-viewer {
  background-color: #f0f0f0;
  min-height: 10rem;

  &--nav {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    top: 0px;
    z-index: 99999;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }

    button {
      background:none;
      border:none;
      color:inherit;
      cursor: pointer;
      font-family: $font-family-monospace;
      font-weight: bold;
      opacity: .5;
      &[aria-selected=true] {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }

      svg {
        color: $red;
      }
    }
  }

  &--event-list {
    background-color: #f0f0f0;

    &--heading {
      align-items: center;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 1.25rem 1rem;

      button {
        @extend .btn;
        @include button-variant($red, #fff);
      }
    }
  }
}